@charset "UTF-8";
/* CSS Document */

#greetingDIV{
	text-align: center;
    	margin: auto;
    	margin-top: 250px;
	line-height: 30px;
	font-family: monospace;
}
#greetings{
	color: white;
	font-size: 150px;
}
#myName{
	color: white;
	font-size: 24px;
}
#selectIcon{
	color: white;
	font-size: 16px;
}
#footer{
	width: 100%;
	height: auto;
	color: darkgray;
	background-color:black;
	text-decoration:none;
	position: fixed;
   	left: 0;
   	bottom: 0;
}
