@charset "UTF-8";
/* CSS Document */

#greetingDIV{
	text-align: center;
    	margin: auto;
    	margin-top: 250px;
	line-height: 30px;
	font-family: monospace;
}
#greetings{
	color: white;
	font-size: 150px;
}
#myName{
	color: white;
	font-size: 24px;
}
#selectIcon{
	color: white;
	font-size: 16px;
}
#footer{
	width: 100%;
	height: auto;
	color: #444444;
	background-color:black;
	text-decoration:none;
	position: fixed;
   	left: 0;
   	bottom: 0;
	text-align: center;
	font-family: monospace;
}
#footerLink{
	color: #444444;
}
.icon{
	height: auto;
	width: auto;
	margin: 25px;
}
#topDiv{
	width:100%;
	height:auto;
	padding: 5px;
}
#bottomDiv{
	width:100%;
	height:auto;
	padding: 5px;
	position: fixed;
   	left: 0;
   	bottom: 25px;
}
#icon1words{
	height: 10px;
	width: 10px;
	margin-left: 30px;
	margin-top: 130px;
	color: white;
	font-family: monospace;
	font-size: 18px;
	display: hidden;
	background-color: blue;
}
#icon1words:hover{
	display: block;
}


