#flip {
  float: left;
  width: 160px;
  padding: 5px;
  text-align: center;
  background-color: #e5eecc;
  border: solid 1px #c3c3c3;
}
#panel {
  padding: 5px;
  text-align: center;
  background-color: #e5eecc;
  border: solid 1px #c3c3c3;
  padding: 50px;
  display: none;
  width: 80%;
  margin: auto;
}


body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:focus {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.close {
  position: absolute;
  right: 80px;
  top: 70px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.wrapper {
	display: grid;
    	grid-gap: 40px;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) ) ;
	background-color: #fff;
	color: #444;
	text
}

.box {
	background-color: darkgray;
	color: #fff;
	padding: 20px;
	font-size: 150%;
	font-family: monospace;
	text-align: center;
	margin: auto;
    	min-width: 190px;

}
.box:hover{
	background-color: lightgray;
}
