html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}
* {
	box-sizing: border-box;
	font-family: Verdana,sans-serif;
	text-decoration: none;
	color: black;
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.topnav {
	overflow: hidden;
	margin: 0 auto;
	text-align:center;
	border-top: lightgrey 2px solid;
	border-bottom: lightgrey 2px solid;
}
.topnav a {
	display: inline-block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	margin: 0 15px;
}
.topnav a:hover {
	color: darkgrey;
}
.topnav a.active {
	background-color: #2196F3;
	color: white;
}

.topnav .search-container {
	display: inline-block;
}
.topnav input[type=text] {
	padding: 6px;
	margin-top: 8px;
	font-size: 17px;
	border: none;
}
.topnav .search-container button {
	float: right;
	padding: 6px 10px;
	margin-top: 8px;
	margin-right: 16px;
	font-size: 17px;
	border: none;
	cursor: pointer;
}
.topnav .search-container button:hover {
	background: #ccc;
}
@media screen and (max-width: 600px) {
	.topnav .search-container {
		float: none;
	}
	.topnav a, .topnav input[type=text], .topnav .search-container button {
		float: none;
		display: block;
		text-align: left;javascript:void(0);
		width: 100%;
		margin: 0;
		padding: 14px;javascript:void(0);
	}
	.topnav input[type=text] {
		border: 1px solid #ccc;  
	}
}
#flip {
	float: left;
	width: 160px;
	padding: 5px;
	text-align: center;
	border: solid 1px #c3c3c3;
}
#panel {
	padding: 5px;
	text-align: center;
	margin: 20px 150px;
	overflow: hidden;
}
body {
	font-family: Arial, Helvetica, sans-serif;
}
.panelInfo {
	width: fill;
	display:inline-block;
	margin: 10px;
	display: none;
	text-align: left;
	padding: 30px;
	background-color: lightgray; 
}

#backspace{
	display:inline-block;
	margin: 10px;
	float: left;
}
#back{
	display: none;
}
.tileContainer{
	width: 95%;
	margin: 0px 10px;
	position: relative;
	text-align:center;
	float: left;
	padding: 1px;
}
.totaldrop{
	background-color: black;
	width: 100%;
	height:100%;
	margin-top: 20px;
}
#close{
	height: 30px;
	width: 5%;
	display:inline-block;
	margin: 10px;
	float: left;
}

.dotCat {
	height: 250px;
	width: 250px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	overflow:hidden;
}
.productDot{
	height: 350px;
	width: 350px;
	background-color: #bbb;
	display: inline-block;
	overflow:hidden;
}
.wrapper {
	display: grid;
	grid-gap: 40px;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr) );
}
.productPageTitle{
	color: black;
}
.imgContain:hover .productPageTitle{
	color:lightgrey;
}
.dotCat:hover #tileInfo{
	display: block;
	opacity: 1;
	background-color: rgba(255, 255, 255, 0.5);
	height: 100%;
	width: 100%;
	justify-content: center;
	display: flex;
	align-items: center;

}
.imgContain:hover #dot{
	opacity: .5;
}
#tileInfo{
	display: none;
	color: #4c4c4c;
}
.productWrapper {
	display: grid;
	margin-top: 20px;
	grid-gap: 40px;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr) );
}
.categoryTitle{
	font-size: 20px;
	margin-bottom: 15px;
	color: grey;
}
#itemWrapper {
	padding: 40px;
	text-align: center;
	display:inline-block;
}

#left, #right {
	display: inline-block;    
	float:left;
}
#left{
	height: 500px;
	width: 450px;
}
#right{
	width:500px;
}
#middle{
	padding-top:60px;
	text-align: left;
	padding-left: 60px;
}
#panelItem{
	text-align: center;
	display: table;
  	margin: 0 auto;
}
.firTitle{
	color: darkgrey;
	font-size: 30px;
}
.secTitle{
	color: grey;
	font-size: 20px;
}



.mySlides {
	display: none;
}
img {
	vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: darkgey;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
	color: white;
}

/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 55px;
	width: 55px;
	margin: 0 2px;
	background-color: #bbb;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
	.prev, .next,.text {font-size: 11px}
}
.prev{
	left:0;
	border-radius: 0 3px 3px 0;
}
.button {
	  background-color: black;
	  border: none;
	  color: white;
	  padding: 15px 32px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 16px;
	  margin: 0 35%;
	  cursor: pointer;
}
.button:hover{
	background-color: white;
	color: black;
	border: black solid;

}
